html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  height: 100%;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color: #333333;
}
.clr {
  clear: left;
}
a {
  text-decoration: none;
}
/* ----------------------------------------- */

.nav-bar {
  top: 0;
  width: 100%;
  padding: 10px 0;
  position: fixed;
  background-color: #333333;
  z-index: 99999;
}

.logo-parent {
  width: 23%;
  height: 100%;

  margin-top: 10px;
  display: flex;
  justify-content: flex-end;

  align-items: center;

  position: relative;
}
.left-logo a {
  padding: 18px 0;
  font-size: 24px;
  font-weight: 500;
  color: #ff2b5e;
}
/* ------------------------------------------------------- */
.list {
  height: 100%;
  position: absolute;

  display: flex;
  align-items: center;
  right: 20%;
  top: 0;
}
.list li {
  padding-right: 20px;
  list-style: none;
  float: left;
}
.list a {
  color: white;
  font-weight: 300;
}

/* ------------------------------------------------- */

.background {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url(../images/Fokir05.jpeg);

  background-size: cover;
  background-position: center center;
  background-blend-mode: overlay;
}

/* ------------------------------------ */
.center-titles {
  top: 40%;
  width: 100%;
  text-align: center;
  position: absolute;
}
.center-titles .titles {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
}

.titles h3 {
  color: white;
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 10px;
  font-family: "Source Sans Pro", sans-serif;
}
.titles h1 {
  color: #ff2b5e;
  font-size: 70px;
  font-weight: bold;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}
.titles h4 {
  color: white;
  font-size: 26px;
  font-weight: 300;
}

/* -------------------------------------------- */

.about {
  width: 100%;
  padding: 100px 0 125px;
  display: flex;
  justify-content: center;
}

.about .container {
  height: 100%;
  left: 25%;
  display: flex;
  margin: 0 0 0 97.5px;
}
.about .all-about {
  width: 360px;
  height: 440px;
  display: block;
  position: relative;
  box-shadow: 0 0 0 8px #555555 inset;
  border-radius: 5px;
}

.about-border-box {
  position: absolute;
  transform: translateX(24px) translateY(24px);
}
.image-container {
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
  position: relative;
  line-height: 0;
}
.black-layer {
  top: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;

  background-color: rgb(0, 0, 0, 0.5);
  transition: top 0.5s;
}
.image-container:hover .black-layer {
  top: 0;
}

.black-layer .icons {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.black-layer a {
  padding-right: 15px;
  color: white;
  transition: color 0.5s;
}
.black-layer a:hover {
  color: #ff2b5e;
}

.content-container {
  width: 700px;
  height: 500px;
  padding-left: 15px;
}

.about-content {
  padding-left: 70px;
}

.about-content h2 {
  margin: 0;
  position: relative;
  font-size: 24px;
  padding-left: 10px;
}
.about-content h2::before {
  content: "";
  width: 3px;
  height: 25px;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgb(255, 0, 0);
}

.about-content p {
  border-bottom: 1px dashed #999999;
  margin-bottom: 25px;
  padding-bottom: 25px;
}
/* --------------------- */
.profile-about ul {
  padding: 0;
  width: 100%;
  display: table;
}
.profile-about li {
  padding-bottom: 15px;
  display: inline-block;
  width: 50%;
}

.profile-about span {
  font-weight: bold;
}

.profile-about a {
  color: #7e7e7e;
}
/* --------------------------- */

.cv-btn a {
  margin-right: 10px;
  padding: 10px 24px;
  border-radius: 5px;
  color: white;
  background-color: #ff305b;
  transition: background-color 0.3s ease-in-out;
}
.cv-btn i {
  padding-left: 10px;
}
.cv-btn a:hover {
  background-color: #ec2403;
}

/* --------------------------- */

.service-section {
  margin: 0 auto;
  padding: 80px 0 34px;
  background-color: #f1f1f1;
}
.title-lines {
  font-size: 25px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 48px;
  width: 100%;
}
.title-lines h2::before {
  content: "";

  border-color: #ec2403;
  border-width: 1px 0;
  border-style: solid;

  width: 100px;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0 auto;
  padding: 5px 0 5px;
  position: absolute;
}
.title-lines h2::after {
  content: "";
  background-color: #ff305b;

  width: 200px;
  height: 1px;
  margin: 0 auto;

  left: 0;
  right: 0;
  bottom: 6px;
  position: absolute;
}
.service-section .informations {
  width: 60%;
  display: flex;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}

.inner-service {
  width: 25%;
  padding: 48px 15px 0;
  transition: background-color 0.7s, box-shadow 0.7s, scale 0.1s;
}
.inner-service:hover {
  background-color: white;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
}
.inner-service i {
  font-size: 30px;
  font-weight: bold;
  color: red;
  transition: all 0.3s ease-in-out 0s;
}
.inner-service:hover i {
  transform: scale(1.2);
}
/* ------------------------------- */

.portfolio {
  padding: 80px;
}
.portfolio .slider {
  display: flex;
  justify-content: center;
}
.portfolio .slider a {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
  color: #333333;
}
.portfolio .slider li {
  list-style: none;
  padding-right: 20px;
  float: left;
}

.portfolio ul li a {
  transition: transform 0.3s ease-in-out, color 0.2s ease-in-out;
}
.portfolio ul li a:hover {
  transform: scale(1.1);
  color: rgba(255, 0, 0, 0.5);
}

.portfolio-grid {
  display: flex;
  justify-content: center;
  line-height: 0;
}
.portfolio-item {
  width: 20%;
  margin: 20px;
  position: relative;
}

.portfolio-item .image {
  background-color: #555555;
}
.portfolio-item img {
  width: 100%;
}
.portfolio-item .portfolio-item-layer {
  width: 100%;
  height: 100%;

  top: 0;
  position: absolute;
  transition: background-color 0.5s;
}

.portfolio-item .portfolio-item-layer:hover {
  background-color: rgb(0, 0, 0, 0.5);
}
.portfolio-item .portfolio-item-layer:hover i {
  opacity: 1;
}

.portfolio-item .portfolio-item-layer i {
  color: #ff003c;
  right: 20px;
  bottom: 15px;
  position: absolute;
  opacity: 0;
}
/* ------------------------------- */

.counters {
  display: flex;
  justify-content: center;
  padding: 80px 0;
  background-color: #f1f1f1;
}

.counters .content {
  width: 60%;
  display: flex;
  justify-content: center;
}

.counter-item {
  width: 25%;
  padding: 0 15px;
  text-align: center;
}
.counter-item i {
  font-size: 26px;
  color: #ff2b5e;
}
.counter-item h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.counter-item h5 {
  margin: 0;
  font-weight: 600;
}

/* ------------------------------- */
.feedback {
  height: 100%;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback .clients-card {
  display: flex;
  width: 40%;
  height: auto;
  background-color: #f1f1f1;
  border-radius: 5px;
}
.feedback .clients-card .left-corner {
  height: 100%;
  /* border-radius: 5px;
  background-color: #333333; */
}
.feedback .clients-card .corner-triangle {
  border-radius: 5px;
  border-right: 210px solid transparent;
  border-top: 200px solid #ff2b5e;
}

.feedback .clients-card .card {
  padding: 40px;
  border-radius: 50%;
  position: absolute;
}

.feedback .clients-card .content {
  padding-bottom: 30px;
}

.feedback .clients-card .content h3 {
  font-size: 26px;
  margin-bottom: 10px;
}
.feedback .clients-card .content a {
  font-size: 15px;
  color: #777777;
}
.feedback .clients-card .content p {
  font-style: italic;
}
.feedback .clients-card .content .stars i {
  color: #f1c30d;
}

.feedback .slider-dots {
  margin-top: 10px;
  padding-left: 15px;
  border-radius: 5px;
  border: 5px solid #ff2b5e;
}
/* ------------------------------- */

.our-blog
{
  padding: 100px 0;
  background-color: #F1F1F1;
}
.our-blog .posts
{
  display: flex;
  justify-content: center;
}