/* screen  width > 87.5rem */
@media screen and (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}

/* screen  width < 87.5rem */
@media screen and (max-width: 1400px) {
  .container {
    max-width: 1140px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 720px;
  }

  .home .container {
    flex-direction: column-reverse;
  }

  .home .left-side {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .home .right-side {
    width: 100%;
  }

  .chefs .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .chefs .cards .single-card {
    width: 48%;
  }

  .gallery .container .gallerys {
    height: 1405px;
  }
  .gallery .container .gallerys .image {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .gallery .container .gallerys {
    height: auto;
  }
  .chefs .cards .single-card {
    width: 100%;
    margin-bottom: 1.25rem;
  }
  .contact .message form input[id="name"],
  input[id="email"] {
    width: calc(100% - 0.625rem);
  }
  footer .container {
    flex-wrap: wrap;
  }
  .contact .more-details .details,
  .gallery .container .gallerys .image,
  footer .about,
  footer .subscription,
  footer .more-details {
    width: 100%;
  }
}
